{% extends "base.html" %}
{% block title %}Proyecciones{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
{% endblock %}
{% block main %}
    {{ super() }}
    <div class="page-header h-100 header-filter">
      <div class="overlay"></div>      
      <div class="container text-center">
        <div class="row align-items-center justify-content-center">
          <div class="col-12 py-2"><h2 class="description">Proyecciones</h2></div>
          <br/>
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="col-12 py-2">
            <button class="btn btn-primary float-right" onClick="ProjectionManagment.getModalProjection()" data-toggle="modal" data-target="#uploadFileProjection"><i class="fa fa-plus"></i> Agergar Proyeccion</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12 py-2">
            <div class="table-responsive">
              <table id="table_projections" class="display">
                <thead>
                    <tr>
                        <th class="d-none">ID</th>
                        <th>Nombre</th>
                        <th>Usuario</th>
                        <th>Fecha Inicio Muestra</th>
                        <th>Fecha Fin Muestra</th>
                        <th>Dias A Proyectar</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                  {% for projection in data_projection %}
                  <tr>
                    <td class="d-none">{{projection['id']}}</td>
                    <td>{{projection['name']}}</td>
                    <td>{{projection['user_name']}}</td>
                    <td>{{projection['date_from']}}</td>
                    <td>{{projection['date_to']}}</td>
                    <td>{{projection['days_to_project']}}</td>
                    <td>
                      <button class="btn btn-icon btn-primary" data-toggle="modal" data-target="#uploadFileProjection" onClick="ProjectionManagment.getModalProjectionCopy('{{projection['file']}}')"><i class="fa fa-copy"></i></button>
                      <button class="btn btn-icon btn-primary" href="/app/projection/{{projection['id']}}"><i class="fa fa-eye"></i></button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="uploadFileProjection" tabindex="-1" role="dialog" aria-labelledby="uploadFileProjectionLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <h4 class="title title-up uploadFileProjection-title">Creacion de Proyeccion</h4>
          </div>
          <div class="modal-body" id="uploadFileProjection-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-upload-projection disabled" onClick="ProjectionManagment.saveProjection()">Guardar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block fscripts %}
    {{ super() }}
    <script src="{{url_for('static', filename="js/projection_managment.js")}}"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
{% endblock %}
{% block fapp_scripts %}
    {{ super() }}
{% endblock %}